body {
	margin: 0;
	background-color: #e5f0ff;
	color: #333;
	font: 13px Helvetica, Arial, FreeSans, san-serif;
}

h4 {
	font-size: 1.1em;
}

#container {
	margin: 2em auto;
	width: 700px;
	padding: 2em 4em;
	background-color: white;
	-webkit-box-shadow: 0 0 4px #9f9f9f;
	-moz-box-shadow: 0 0 4px #9f9f9f;
	-o-box-shadow: 0 0 4px #9f9f9f;
	-ms-box-shadow: 0 0 4px #9f9f9f;
	box-shadow: 0 0 4px #9f9f9f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

header {
	width: 770px;
	text-align: right;
	font-size: 11px;
	margin: 1.5em auto -1em;
}

footer {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	font-size: 12px;
}

h1 {
	font-size: 3.8em;
	color: #333;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

navigation {
	display: block;
	margin-bottom: 3em;
	height: 2em;
}

img {
	
}

figcaption {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 2em;
}

figure {
	margin: 1em 0;
}

h1 .small {
	font-size: 0.4em;
}

h1 a {
	text-decoration: none
}

h2 {
	color: #333;
	margin-top: 2em;
	border-bottom: 10px solid #f4f4f4;
	text-transform: uppercase;
	font: bold 2.5em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h3 {
	text-align: left;
	color: #333;
	font-size: 1.5em;
}

p {
	line-height: 1.5em;
}

a {
	color: #466f89;
}

navigation a {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-0-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;
	background-color: #f4f4f4;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
	color: #88ad59;
	text-transform: uppercase;
	margin-right: 12px;
}

label {
	width: 80px;
	display: inline-block;
}

h2 a {
	text-decoration: none;
	color: #88ad59;
}

h2:hover:after {
	content: ' to top';
	font: normal normal 11px/0 Monaco, mono;
	position: relative;
	bottom: 13px;
	text-shadow: none;
	color: #929292;
	text-transform: none;
}

#container ul li a {
	float: right;
}

li {
	line-height: 25px;
}

li:hover {
	background-color: #f4f4f4;
}

code {
	font: 12px Monaco, mono;
	background-color: #f4f4f4;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

ul ul {
	margin-bottom: 1em;
	padding-left: 1.5em;
}

ul li ul li {
	list-style-type: disc;
}

.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
	font-style: italic;
}

.download {
	float: right;
}

pre {
	background: #000;
	color: #eed785;
	padding: 1em;
	overflow-x: auto;
	overflow-y: none;
	font: 12px/1.5em Monaco, mono;
}

hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa
}

.footer {
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}